apipkg==1.5
argh==0.26.2
atomicwrites==1.1.5
attrs==18.1.0
certifi==2018.8.13
chardet==3.0.4
-e git+https://github.com/giupo/checks.git@56c35928c982c9faf73299bc38f84bf949bc0df4#egg=checks
colorama==0.3.9
consul-service-discovery==0.1.2
docopt==0.6.2
execnet==1.5.0
glob2==0.6
idna==2.7
Mako==1.0.7
MarkupSafe==1.0
more-itertools==4.3.0
parse==1.8.4
parse-type==0.4.2
pathtools==0.1.2
pluggy==0.7.1
psutil==5.4.7
py==1.5.4
pytest==3.7.2
pytest-bdd==2.21.0
pytest-forked==0.2
pytest-watch==4.2.0
pytest-xdist==1.22.5
PyYAML==3.13
requests==2.19.1
-e git+https://github.com/giupo/ServiceDiscovery.git@5b2e318e9d489c75c268d5943ece2712fa8612be#egg=ServiceDiscovery
simplejson==3.16.0
six==1.11.0
SQLAlchemy==1.2.11
tornado==5.1
ujson==1.35
urllib3==1.24.2
watchdog==0.8.3
